*{
    padding: 0;
    margin: 0;
    
    
}
.nav-container{
    /* border: 1px solid orange; */
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 70px;
    box-shadow: 0px 4px 10px 1px rgb(233, 233, 233);
}
 .header-div-one{
display: flex;
align-items: center;


 }
 .nav-logo{
    height: 25px;
 }
 .menu{
    display: flex;
    align-items: center;
gap: 20px;    
 }
 .button-container{
    display: flex;
    align-items: center
    ;justify-content: space-around;
    margin-left: 40px;
    font-size: 10px;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    
 }
 .youtube{
    font-size: 15px;
    color: red;
 }
 .tiktok{
    font-size: 15px;
 }
   
   .container-h1{
    padding-left: 10px;
   }
   .nav-span{
    color: orange;
   }
   /* this is banner section two */


.banner-section{
   
   display: flex;
   
   
}
.in-container{
   background-image: url("./images/Group\ 14.png");
   background-size: 700px;
   background-repeat: no-repeat;
   width: 600px;
   padding-top: 150px
   ;height: auto
   ;
}
.photo-container{
   margin-left: 100px;
   margin-top: 20px;
}
.kid-photo{
   height: 446px;
}
.banner-h{
   font-size: 35px;
   text-align: center;
}
.banner-h1{
   font-size: 70px;
   font-style: bold;
   text-align: center;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   
   padding-left:15px;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
G.O.A.T.;
margin-top: 15px;
margin-bottom: 15px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-span-one{
   font-size: 15px;
   text-align: center;
   /* border: 1px solid red; */
   margin-top: 30px;
   padding-left: 10px;
   
}
.banner-btn-one{
   font-size: 15px;
   
   
   
}
.banner-btn-two{
   font-size: 15px;
   margin-top: 20px;
   
   
}
.banner-span-two{
margin-right: 6px;
padding-left: 30px;
   /* border: 1px solid red; */
   

}
.banner-btn-three{
   font-size: 15px;
   margin-top: 20px;
   margin-left: 84px;
}
.play-container{
   text-align: center;
   margin-right: 50px;
}
.banner-btn-four{
font-size: 15px;
color: white;
background-color:rgb(250, 33, 152);
padding: 10px 30px;
border-radius: 20px;
margin-left: 70px;
margin-top: 30px;
gap: 20px;
border:  none;
}
.banner-btn-five{
   font-size: 15px;
   color: white;
   background-color:#27c2ff;
   padding: 10px 20px ;
   border-radius: 20px;
   border: none;

}


   /* this is banner end section two */
   .game-container{
      text-align: center;
      margin-top: 80px;
   }
   .game-span{
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
Online Games Funny Videos;

   }
   .game-h1{
      font-size: 40px;
      
   }
   .game-p{
font-size: 15px;
   }
   /* this is section twoldf */
   .section-two{
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 50px;
      
      height: 280px;
      
   }
   .game-span-container{
   margin-top: 20px;
   }
.game-span-one{
   font-size: 11px;
   padding-left: 150px;
}
.game-span-two{
   font-size: 11px;
   padding-left: 30px;
}
.game-span-three{
   font-size: 11px;
   padding-left: 100px;
}
.game-span-four{
   font-size: 11px;padding-left: 80px;
}


   /* this is section  end twoldf */
   .section-three{
      display: flex;
      justify-content: space-around;
      margin-top: 80px;
   
   }
   .online-container{
      padding-top: 150px;
   }
   .png-one{
      width: 450px;
      ;
   }
   .png-two{
      width: 200px;
      position: relative;  
      top: -150px;
      left: 350px;
   }
   .online-h1{
      font-size: 35px;
      
   }
   .online-span-one{
      color: rgb(255, 66, 208);
   }
   .online-span-two{
      color: rgb(202, 22, 202);
   }
   .online-p{
      font-size: 13px;
      padding-top: 20px;
   }
   /* this is section four */
.section-four{
   background-color: rgb(255, 243, 248);
   display: grid;
   grid-template-columns: repeat(5,1fr);
   
}

 .action-h1{
   font-size: 20px;
 }
 .action-div{
   display: flex;
align-items: center;padding: 10px 20px;
background-color: #ffffff;
width: 200px;
height: 50px;
border-radius: 50px;
 }
 .adventure{
   display: flex;
   align-items: center;
   height: 50px;
   padding: 10px 20px;
border-radius: 50px;
 }
 .adventure-h1{
   font-size: 20px;
   background-color: #fff;
 }
 .Arcade{
   display: flex;
   align-items: center;
   padding: 10px 20px;
   height: 50px;
border-radius: 50px;

 }
 .Arcade-h1{
   font-size: 20px;
   background-color: #fff;
   
 }
 .Educational{
   display: flex;
   align-items: center;
   
   padding: 10px 20px;
   height: 50px;
border-radius: 50px;
 }
 .Educational-h1{
   font-size: 20px;
   background-color: #fff;
 }
.Word{
   display: flex;
   align-items: center;
   padding: 10px 20px;


   height: 50px;
border-radius: 50px;

}
.Word-h1{
   font-size: 20px;
   background-color: #fff;

}
.Role{
   display: flex;
   align-items: center  ;
   height: 50px;
border-radius: 50px;
padding: 10px 20px;

}
.Role-h1{
   font-size: 20px;
   background-color: #fff;

}
.Music{
   display: flex;
   align-items: center;   padding: 10px 20px;

   height: 50px;
border-radius: 50px;

}
.Music-h1{
   font-size: 20px;
   background-color: #fff;
}
.Puzzle{
   display: flex;   padding: 10px 20px;

   height: 50px;
border-radius: 50px;
   align-items: center;

}
.Puzzle-h1{
   font-size: 20px;
   background-color: #fff;

}
.Strategy{
   display: flex;
   align-items: center;
   height: 50px;
border-radius: 50px;   padding: 10px 20px;


}
.Strategy-h1{
   font-size: 20px;
   background-color: #fff;
}

/* mobile divice  */

   @media screen and ( max-width:400px) {
    .nav-container{
    flex-direction: column;
    height: 100%;  
   }
   .header-div-one{
      padding-left: 130px;
      padding-top: 50px ;
    padding-bottom: 30px;
}
.button-container{

 
/* width: 100%; */
margin-right: 30px;
        
   }
   
   .menu{
    flex-direction: column;
   }
   .banner-section{
      flex-direction: column;

   }
   .in-container{
      width: auto;
   } 
   .section-two{
      flex-direction: column;
}